.b-feed__item
{
    border-bottom: 1px solid #eee;

    min-height: 50px;

    padding: 30px 0 30px 60px;

    position: relative;
}

.b-feed__head
{
    font-size: 14px;

    line-height: 120%;

    margin-bottom: 5px;
}

.b-feed__head img /* Userpic. */
{
    margin-left: -60px;

    position: absolute;
}

.b-feed__head a /* Profile name. */
{
    font-weight: 500;
}

.b-feed__head span /* Creation time. */
{
    color: #555;

    float: right;
}

.b-feed__message
{
    white-space: pre-wrap;
}

.b-feed__actions
{
    font-size: 12px;
}

.b-feed__description
{
    color: #555;

    font-size: 15px;
}

.b-feed__photo
{
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    display: inline-block;

    line-height: 0;

    margin: 10px 0;

    max-width: 100%;

    padding: 12px;
}

.b-feed__photo img
{
    height: auto;

    max-width: 100%;

    z-index: -1;
}

.b-feed__link
{
    background: #f8f8f8;

    border: 1px solid #eee;

    padding: 10px;

    margin-top: 10px;
}

.b-feed__link td
{
    vertical-align: top;
}

.b-feed__link-img
{
    line-height: 0;

    padding-right: 10px;

    width: 1%;
}

.b-feed__link a
{
    font-weight: 400;
}

.b-feed__link p
{
    margin: 0;
}

.b-feed__placeholder
{
    color: #aaa;

    font-size: 9px;
}
